<div style="padding-top: 60px;">
<h1>{{client.name}}</h1>
  <img src="{{client.imgSrc}}" class="client-full" />
  {{client.description}}
  <a href="/clients/{{prevPage}}">previous</a>
  <a href="/clients/{{nextPage}}">next</a>
</div>