<main class="main">
  <section class="main__hero">
    <h1 class="main__hero--header">PixelTight<br>
      <span class="main__hero--header-small">by Jason Kerr</span>
    </h1>
    <div class="main__hero--copy">
      <p><em>Professional and exprienced User Interface development from the Gulf tropics</em>
        <div class="main__hero--icons">
          <i class="fa fa-code" aria-hidden="true"></i>
          <i class="fa fa-html5" aria-hidden="true"></i>
          <i class="fa fa-css3" aria-hidden="true"></i>
        </div>
      </p>
    </div>
  </section>
</main>
<section class="byline">
	<p>Hello. My name is Jason Kerr. Frontend Development is my specialty: Markup, design and code. Being both expressive and analytical can be a challenge. I enjoy challenges. Check out some of my work below.</p>
</section>
<section class="thumbnails" id="portfolio">
	<h2 class="thumbnails__header">Portfolio</h2>

  <div class="row thumbnails__list">
  {{#each clients}}
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="thumbnails__container">
        <a class="thumbnails__link" rel="nofollow" href="/clients/{{id}}">
          <img src="{{thumbnailSrc}}" class="thumbnails__item">
          <div class="thumbnails__link--shadow">
            <span>{{name}}</span>
          </div>
        </a>
      </div>
    </div>
  {{/each}}
</div>

</section>

{{!--
		{{name}} <br>
		{{description}}
--}}